.filters {
	background-color: #ffffff;
	height: 70px;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #dddddd
}

.filters button {
	font-size: 18px;
	background: #ff5a5f;
	color: #ffffff;
	height: 48px;
	width: 20%;
	border:none;
	border-radius: 4px;
	float: right;
	margin: 12px 30px;
}

.filters button:hover {
	background-color: rgba(255, 90, 95, .9);
}

/*format the locatuins and amenities*/
.locations, .amenities{
	height: 100%;
	width: 25%;
	display: inline-block;
}

/*locaton sborder*/
.locations{
	border-right: 1px solid #DDDDDD;
}

/*H3*/
.filters h3 {
	font-weight: 600;
}

/*h4*/
.filters h4 {
	font-weight: 400;
	font-size: 14px;
}

/*format amenities and locations popover menu*/
.filters .popover {
	background-color: #FAFAFA;
	border: 1px solid #dddddd;
	border-radius: 4px;
	display: none;
	position: absolute;
	width: 100%;
}

/*amenities pop over*/
.filters .locations:hover .popover,
.filters .amenities:hover .popover {
	display: block;
}

