/*format Article tag*/
.places article {
	border: 1px solid #ff5a5f;
	border-radius: 4px;
	margin: 20px;
	padding: 20px;
	width: 390px;
}

/*format price by night*/
.places .price_by_night {
	border: 4px solid #ff5a5f;
	border-radius: 100%;
	height: 60px;
	color: #FF5A5F;
	font-size: 30px;
	min-width: 60px;
	align-items: center;
	display: flex;
	justify-content: center;
}

/*format information*/
.places .information {
	position: relative;
	height: 80px;
	border-top:1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

/*add padding aroun owner*/
.places .user {
	margin: 20px auto 20 px auto;
}
/*format number of guests, bedrooms, and bathrooms width*/
.places .max_guest,
.places .number_rooms,
.places .number_bathrooms {
	width: 100px;
}

.places {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
  }

/*footer position*/
footer {
	position: relative;
}